@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@font-face {
  font-family: 'geometriaregular';
  src: url("../fonts/geometria-webfont.eot");
  src: url("../fonts/geometria-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria-webfont.woff") format("woff"), url("../fonts/geometria-webfont.ttf") format("truetype"), url("../fonts/geometria-webfont.svg#geometriaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geometriabold';
  src: url("../fonts/geometria-bold-webfont.eot");
  src: url("../fonts/geometria-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria-bold-webfont.woff") format("woff"), url("../fonts/geometria-bold-webfont.ttf") format("truetype"), url("../fonts/geometria-bold-webfont.svg#geometriabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geometrialight';
  src: url("../fonts/geometria-light-webfont.eot");
  src: url("../fonts/geometria-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria-light-webfont.woff") format("woff"), url("../fonts/geometria-light-webfont.ttf") format("truetype"), url("../fonts/geometria-light-webfont.svg#geometrialight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geometriamedium';
  src: url("../fonts/geometria-medium-webfont.eot");
  src: url("../fonts/geometria-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria-medium-webfont.woff") format("woff"), url("../fonts/geometria-medium-webfont.ttf") format("truetype"), url("../fonts/geometria-medium-webfont.svg#geometriamedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'als_rublregular';
  src: url("../fonts/rouble-webfont.eot");
  src: url("../fonts/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble-webfont.woff") format("woff"), url("../fonts/rouble-webfont.ttf") format("truetype"), url("../fonts/rouble-webfont.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brutal_typeextrabold';
  src: url("../fonts/brownfox_-_brutal_type_extrabold-webfont.eot");
  src: url("../fonts/brownfox_-_brutal_type_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brownfox_-_brutal_type_extrabold-webfont.woff") format("woff"), url("../fonts/brownfox_-_brutal_type_extrabold-webfont.ttf") format("truetype"), url("../fonts/brownfox_-_brutal_type_extrabold-webfont.svg#brutal_typeextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brutal_typelight';
  src: url("../fonts/brownfox_-_brutal_type_light-webfont.eot");
  src: url("../fonts/brownfox_-_brutal_type_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brownfox_-_brutal_type_light-webfont.woff") format("woff"), url("../fonts/brownfox_-_brutal_type_light-webfont.ttf") format("truetype"), url("../fonts/brownfox_-_brutal_type_light-webfont.svg#brutal_typelight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brutal_typemedium';
  src: url("../fonts/brownfox_-_brutal_type_medium-webfont.eot");
  src: url("../fonts/brownfox_-_brutal_type_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brownfox_-_brutal_type_medium-webfont.woff") format("woff"), url("../fonts/brownfox_-_brutal_type_medium-webfont.ttf") format("truetype"), url("../fonts/brownfox_-_brutal_type_medium-webfont.svg#brutal_typemedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brutal_typebold';
  src: url("../fonts/brutaltype-bold-webfont.eot");
  src: url("../fonts/brutaltype-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brutaltype-bold-webfont.woff") format("woff"), url("../fonts/brutaltype-bold-webfont.ttf") format("truetype"), url("../fonts/brutaltype-bold-webfont.svg#brutal_typebold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brutal_typeregular';
  src: url("../fonts/brownfox_-_brutal_type-webfont.eot");
  src: url("../fonts/brownfox_-_brutal_type-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brownfox_-_brutal_type-webfont.woff") format("woff"), url("../fonts/brownfox_-_brutal_type-webfont.ttf") format("truetype"), url("../fonts/brownfox_-_brutal_type-webfont.svg#brutal_typeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* --------- sections --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  cursor: pointer; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  position: relative;
  font-family: "geometriaregular";
  font-size: 14px;
  line-height: 17px;
  color: #fff; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  position: relative; }

.rubl {
  font-family: 'als_rublregular'; }

/* defaul style end  */
.wrapper {
  max-width: 1174px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative; }

@media screen and (max-width: 1020px) {
  .wrapper {
    max-width: 480px;
    padding: 0 15px; } }

@media screen and (max-width: 477px) {
  .wrapper {
    max-width: 320px;
    padding: 0 5px; } }

.footer {
  width: 100%;
  background: #5e5d5b;
  padding-top: 77px;
  padding-bottom: 65px; }
  .footer .wrapper:before, .footer .wrapper:after {
    content: " ";
    display: table; }
  .footer .wrapper:after {
    clear: both; }
  .footer__right {
    float: right;
    text-align: right; }
    .footer__right .footer__text {
      margin-bottom: 10px; }
  .footer__text {
    font-size: 22px;
    line-height: 25px;
    display: block;
    margin-bottom: 5px; }
  .footer__left {
    float: left; }
  .footer__person {
    font-size: 22px;
    line-height: 25px;
    display: block;
    margin-bottom: 25px; }
    .footer__person:hover {
      text-decoration: underline; }
    .footer__person:after {
      content: '';
      width: 7px;
      height: 13px;
      background: url(../img/right.png) 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }

@media screen and (max-width: 1020px) {
  .footer {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 60px; }
    .footer__right {
      float: none;
      text-align: center; }
      .footer__right .footer__text {
        margin-bottom: 15px; }
    .footer__left {
      float: none; }
    .footer__socials {
      text-align: center;
      margin-bottom: 40px; }
    .footer__text {
      font-size: 18px;
      line-height: 21px;
      padding: 0 23px; }
    .footer__person {
      font-size: 18px;
      line-height: 21px;
      text-decoration: underline; }
      .footer__person:after {
        margin-right: -15px; } }

.main-block {
  background: url(../img/main-block.jpg) center top no-repeat;
  text-align: center;
  padding-bottom: 70px; }
  .main-block__title {
    max-width: 665px;
    font-family: "geometriabold";
    font-size: 35px;
    line-height: 50px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 88px;
    margin-bottom: 29px; }
  .main-block__rate {
    font-size: 25px;
    line-height: 28px;
    font-family: "brutal_typelight"; }
  .main-block__button {
    font-family: "geometriabold";
    font-size: 22px;
    line-height: 25px;
    background: #ff8054;
    margin-top: 45px;
    display: inline-block;
    padding: 15px 32px; }
    .main-block__button:hover {
      background: #fff;
      color: #000; }
  .main-block__down {
    width: 27px;
    height: 15px;
    background: url(../img/down.png) 0 0 no-repeat;
    display: block;
    margin: 0 auto;
    margin-top: 71px; }

.menu {
  padding-top: 28px;
  text-align: left; }
  .menu:before, .menu:after {
    content: " ";
    display: table; }
  .menu:after {
    clear: both; }
  .menu__logo {
    display: inline-block;
    vertical-align: middle; }
  .menu__nav {
    display: inline-block;
    vertical-align: middle;
    float: right; }
  .menu__item {
    display: inline-block;
    vertical-align: top;
    width: 145px;
    margin: 0 28px; }
    .menu__item:nth-child(1) {
      margin-left: 0; }
    .menu__item:nth-child(2) {
      width: 80px; }
    .menu__item:nth-child(3) {
      width: 228px;
      margin-right: 0; }
  .menu__link {
    font-family: "brutal_typelight";
    font-size: 20px;
    line-height: 23px;
    padding: 0 3px; }
    .menu__link:hover {
      font-family: "brutal_typeextrabold";
      color: #f17648; }

.phone {
  display: inline-block;
  vertical-align: middle;
  float: right;
  text-align: right;
  margin-left: 56px;
  margin-top: -8px; }
  .phone__link {
    font-family: "brutal_typelight";
    font-size: 24px;
    line-height: 33px;
    background: url(../img/phone.png) 2px 6px no-repeat;
    padding-left: 25px; }
    .phone__link--bold {
      font-family: "brutal_typebold"; }
  .phone__button {
    font-family: "geometriabold";
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    width: 197px;
    height: 24px;
    background: #1d9c5d;
    border-radius: 3px;
    margin-top: 4px;
    display: inline-block;
    text-align: center; }

.counter {
  position: absolute;
  right: 15px;
  bottom: 47px;
  text-align: center; }
  .counter__title {
    font-family: "geometriabold";
    font-size: 25px;
    line-height: 28px; }
    .counter__title--small {
      font-size: 19px;
      line-height: 22px;
      display: block; }
    .counter__title--span {
      font-family: "brutal_typelight";
      font-size: 17px;
      line-height: 20px;
      color: #cdcdcd; }
  .counter__list {
    margin-top: 13px; }
  .counter__item {
    display: inline-block;
    vertical-align: top; }
    .counter__item:nth-child(2) {
      margin: 0 10px; }
  .counter__block {
    width: 84px;
    height: 84px;
    border: 3px solid #f17648;
    border-radius: 13px;
    text-align: center;
    font-family: "robotobold";
    font-size: 37px;
    line-height: 79px; }
  .counter__text {
    font-family: "brutal_typelight";
    font-size: 17px;
    line-height: 20px;
    color: #cdcdcd; }

@media screen and (max-width: 1020px) {
  .menu__nav {
    display: none; }
  .main-block {
    background: url(../img/main-block-480.jpg) center top no-repeat;
    padding-bottom: 35px; }
    .main-block__title {
      font-size: 30px;
      line-height: 44px;
      margin-top: 25px;
      margin-bottom: 13px; }
    .main-block__rate {
      font-size: 20px;
      margin-bottom: 25px; }
    .main-block__button {
      margin-top: 35px; }
    .main-block__down {
      margin-top: 23px; }
  .counter {
    position: static; }
    .counter__title {
      font-size: 22px; }
      .counter__title--small {
        font-size: 17px; }
      .counter__title--span {
        font-size: 16px; }
    .counter__block {
      width: 75px;
      height: 75px;
      line-height: 71px; }
    .counter__text {
      font-size: 15px;
      line-height: 18px;
      margin-top: 3px; } }

@media screen and (max-width: 477px) {
  .menu {
    text-align: center; }
  .phone {
    display: none; }
  .main-block {
    padding-bottom: 40px; }
    .main-block__title {
      font-size: 23px;
      line-height: 31px; }
    .main-block__rate {
      font-size: 19px;
      line-height: 22px;
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: 25px; }
    .main-block__button {
      margin-top: 40px; }
    .main-block__down {
      margin-top: 27px; } }

.choose {
  text-align: center;
  color: #616e70;
  padding-top: 48px;
  padding-bottom: 91px;
  background: url(../img/choose-bottom.jpg) center bottom no-repeat; }
  .choose__title {
    font-family: "geometriabold";
    font-size: 28px;
    line-height: 31px;
    color: #0a0a16;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .choose__subtitle {
    font-size: 22px;
    line-height: 25px;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 63px; }
  .choose__block {
    display: inline-block;
    vertical-align: top;
    margin: 0 33px;
    margin-bottom: 35px; }
  .choose__img {
    display: inline-block;
    margin-bottom: 9px; }
  .choose__name {
    font-family: "geometriamedium";
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px; }
  .choose__text {
    font-size: 18px;
    line-height: 21px; }

@media screen and (max-width: 1020px) {
  .choose {
    background: url(../img/choose-bottom-480.jpg) center bottom no-repeat;
    padding-bottom: 45px; }
    .choose__title {
      font-size: 25px;
      line-height: 28px; }
    .choose__subtitle {
      font-size: 20px;
      line-height: 30px; }
    .choose__block {
      margin-bottom: 45px; } }

@media screen and (max-width: 477px) {
  .choose__title {
    font-size: 22px;
    line-height: 25px; }
  .choose__subtitle {
    font-size: 18px;
    line-height: 24px; }
  .choose__text {
    font-size: 18px;
    line-height: 21px; }
  .choose__block {
    margin: 0 4px 40px; } }

.rates__block {
  height: 160px;
  padding-top: 55px; }
  .rates__block:before, .rates__block:after {
    content: " ";
    display: table; }
  .rates__block:after {
    clear: both; }
  .rates__block:nth-child(1) {
    background: #f47d5a;
    height: 175px;
    padding-top: 80px; }
  .rates__block:nth-child(2) {
    background: #ee7954; }
  .rates__block:nth-child(3) {
    background: #ea7450; }
  .rates__block:nth-child(4) {
    background: #e66f49;
    padding-top: 45px; }
    .rates__block:nth-child(4) .rates__name {
      margin-top: 18px; }
  .rates__block:nth-child(5) {
    background: #e06c49;
    padding-top: 45px; }
    .rates__block:nth-child(5) .rates__name {
      margin-top: 18px; }
  .rates__block .wrapper:before, .rates__block .wrapper:after {
    content: " ";
    display: table; }
  .rates__block .wrapper:after {
    clear: both; }

.rates__name {
  font-family: "brutal_typemedium";
  font-size: 30px;
  line-height: 33px;
  margin-top: 10px;
  float: left; }
  .rates__name .rates__plus {
    margin: 0; }

.rates__right {
  float: right; }

.rates__speed {
  display: inline-block;
  vertical-align: middle; }

.rates__bold {
  font-family: "brutal_typemedium";
  font-size: 30px;
  line-height: 33px; }

.rates__text {
  font-family: "brutal_typemedium";
  font-size: 20px;
  line-height: 23px;
  color: #f0b6a4; }

.rates__plus {
  font-family: "brutal_typemedium";
  font-size: 30px;
  line-height: 33px;
  margin: 0 15px; }

.rates__info {
  display: inline-block;
  vertical-align: middle;
  width: 174px; }
  .rates__info--480 {
    display: none; }

.rates__money {
  display: inline-block;
  vertical-align: middle;
  margin-left: 32px; }

.rates__button {
  display: inline-block;
  vertical-align: middle;
  width: 193px;
  height: 54px;
  font-family: "brutal_typemedium";
  font-size: 18px;
  line-height: 50px;
  border: 2px solid #fff;
  text-align: center;
  margin-left: 50px; }
  .rates__button:hover {
    color: #f47d5a;
    background: #fff; }

@media screen and (max-width: 1150px) {
  .rates__money {
    margin-left: 5px; }
  .rates__button {
    margin-left: 15px; }
  .rates__plus {
    margin: 0 5px; } }

@media screen and (max-width: 1020px) {
  .rates {
    max-width: 480px;
    margin: 0 auto; }
    .rates .wrapper {
      margin-left: 60px; }
    .rates__block {
      height: 185px;
      padding-top: 20px; }
      .rates__block:nth-child(1) {
        height: 185px;
        padding-top: 30px; }
      .rates__block:nth-child(4) {
        padding-top: 20px; }
        .rates__block:nth-child(4) .rates__name {
          margin-top: 0; }
      .rates__block:nth-child(5) {
        padding-top: 20px; }
        .rates__block:nth-child(5) .rates__name {
          margin-top: 0; }
    .rates__info {
      display: none; }
      .rates__info--480 {
        display: block;
        width: 100%;
        margin: 6px 0 25px; }
        .rates__info--480 .rates__text {
          font-size: 12px;
          line-height: 15px; }
    .rates__right {
      float: none; }
    .rates__tv {
      display: none; }
    .rates__text {
      display: block;
      font-size: 12px;
      line-height: 15px; }
    .rates__bold {
      font-size: 15px;
      line-height: 18px; }
    .rates__speed {
      margin-right: 12px; }
    .rates__money {
      margin-right: 20px; }
    .rates__button {
      width: 142px;
      height: 38px;
      font-size: 16px;
      line-height: 32px; }
    .rates__plus {
      display: none; }
    .rates__name {
      margin-top: 0;
      float: none; }
      .rates__name .rates__plus {
        display: inline-block; } }

@media screen and (max-width: 477px) {
  .rates .wrapper {
    margin-left: 10px; } }

.request {
  text-align: center;
  background: #34363a;
  padding-top: 62px;
  padding-bottom: 82px; }
  .request__title {
    font-family: "geometriabold";
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 55px; }
  .request__form {
    width: 560px;
    margin: 0 auto;
    font-size: 0; }
  .request__input {
    width: 100%;
    height: 61px;
    display: block;
    margin-bottom: 13px;
    padding-left: 30px;
    font-family: "brutal_typelight";
    font-size: 19px;
    color: #9da6ac; }
    .request__input--street {
      width: 353px;
      float: left; }
    .request__input--house {
      width: 183px;
      float: right; }
  .request__check {
    width: 22px;
    height: 22px;
    background: url(../img/checkbox2.png) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px; }
  .request__checkbox {
    display: none; }
    .request__checkbox:checked + .request__check {
      background: url(../img/checkbox.png) 0 0 no-repeat; }
  .request__text {
    font-family: "brutal_typelight";
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    display: inline-block;
    vertical-align: middle; }
  .request__button {
    display: block;
    font-family: "geometriamedium";
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    background: #e5450a;
    width: 100%;
    padding: 16px 0;
    margin-top: 13px; }
    .request__button:hover {
      background: #bd3807; }

@media screen and (max-width: 1020px) {
  .request {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 68px; }
    .request .wrapper {
      padding: 0 20px; }
    .request__title {
      font-size: 25px;
      line-height: 39px;
      margin-bottom: 44px; }
    .request__form {
      width: 100%; }
    .request__input--street {
      width: 295px; }
    .request__input--house {
      width: 125px; } }

@media screen and (max-width: 477px) {
  .request {
    padding-bottom: 35px; }
    .request .wrapper {
      padding: 0 15px; }
    .request__title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 35px; }
    .request__input {
      text-align: center;
      padding-left: 0; }
      .request__input--street {
        width: 100%;
        float: none; }
      .request__input--house {
        width: 100%;
        float: none; }
    .request__text {
      font-size: 15px;
      line-height: 18px; } }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear; }
  .popup.js-active {
    visibility: visible;
    opacity: 1; }
  .popup__overlay {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .popup__block {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    width: 433px;
    padding: 40px 50px 35px; }
  .popup__close {
    background: url(../img/close.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer; }
  .popup__form {
    color: #333;
    font-size: 14px;
    line-height: 16px; }
  .popup__desc {
    margin-bottom: 12px; }
  .popup__input {
    border: 1px solid #cccbcb;
    padding-left: 48px;
    height: 41px;
    border-radius: 3px;
    width: 100%;
    display: block;
    margin-bottom: 11px;
    color: #333; }
    .popup__input--person {
      background: url(../img/popup-person.png) 9px 3px no-repeat; }
    .popup__input--phone {
      background: url(../img/popup-phone.png) 11px 4px no-repeat;
      margin-bottom: 15px; }
  .popup__button {
    margin-bottom: 22px;
    width: 100%;
    height: 78px;
    font-family: "geometriabold";
    font-size: 28px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    outline: 0;
    border: 3px solid #f26638;
    border-top: 4px solid #fea587;
    background: #fe794c;
    background: linear-gradient(to bottom, #fe794c 0%, #f75727 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe794c', endColorstr='#f75727',GradientType=0 ); }
  .popup__text {
    width: 322px;
    padding-left: 41px;
    background: url(../img/popup-phone2.png) 4px 1px no-repeat; }

.socials {
  text-align: right; }
  .socials__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px; }
  .socials__link {
    display: block; }
    .socials__link.inst {
      width: 30px;
      height: 30px;
      background: url(../img/inst.png) 0 0 no-repeat; }
      .socials__link.inst:hover {
        background-position: -31px 0; }
    .socials__link.vk {
      width: 48px;
      height: 25px;
      background: url(../img/vk.png) 0 0 no-repeat; }
      .socials__link.vk:hover {
        background-position: -49px 0; }
    .socials__link.fb {
      width: 14px;
      height: 29px;
      background: url(../img/fb.png) 0 0 no-repeat; }
      .socials__link.fb:hover {
        background-position: -15px 0; }
    .socials__link.gplus {
      width: 29px;
      height: 28px;
      background: url(../img/gplus.png) 0 0 no-repeat; }
      .socials__link.gplus:hover {
        background-position: -30px 0; }
    .socials__link.tw {
      width: 32px;
      height: 25px;
      background: url(../img/tw.png) 0 0 no-repeat; }
      .socials__link.tw:hover {
        background-position: -32px 0; }
    .socials__link.pen {
      width: 23px;
      height: 29px;
      background: url(../img/pen.png) 0 0 no-repeat; }
      .socials__link.pen:hover {
        background-position: -24px 0; }

.thx {
  background: url(../img/thx.jpg) center top no-repeat;
  padding-top: 125px;
  height: 700px; }
  .thx .wrapper {
    padding-left: 410px;
    padding-right: 0; }
  .thx__title {
    font-family: "geometriabold";
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 45px; }
  .thx__text {
    font-family: "brutal_typelight";
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 40px; }
  .thx__subscribe {
    font-family: "brutal_typelight";
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-top: 70px; }
  .thx .socials {
    text-align: left; }
    .thx .socials__icon:first-child {
      margin-left: 0; }

@media screen and (max-width: 1020px) {
  .thx {
    padding-top: 55px; }
    .thx .wrapper {
      padding-left: 20px;
      padding-right: 20px; }
    .thx__subscribe {
      margin-top: 0; } }

@media screen and (max-width: 477px) {
  .thx .wrapper {
    max-width: 375px;
    padding-left: 10px;
    padding-right: 10px; }
  .thx__title {
    font-size: 28px;
    margin-bottom: 25px; }
  .thx__text {
    font-size: 24px; }
  .thx__subscribe {
    margin-top: 53px; } }

.suggestion {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff none repeat scroll 0 0;
  border-color: -moz-use-text-color #666 #666;
  border-image: none;
  border-radius: 0 0 4px 4px;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  box-shadow: 2px 2px 2px #ccc inset;
  display: none;
  height: auto;
  margin-left: 0;
  margin-top: 5px;
  max-height: 200px;
  min-width: 353px !important;
  overflow: auto;
  padding: 5px 7px;
  position: absolute;
  width: 353px !important;
  color: #9da6ac;
  font-size: 14px; }
  .suggestion div {
    height: 30px;
    line-height: 30px; }
    .suggestion div:hover {
      color: #fff; }

.suggestion .selected {
  background: #AAA; }

.podkl {
  background-color: #DFD;
  border: 1px solid #070;
  margin: 5px;
  padding: 7px 10px;
  font-size: 16px;
  display: none; }

.nepodkl {
  background-color: #FAA;
  border: 1px solid #C00;
  margin: 5px;
  padding: 7px 10px;
  font-size: 16px;
  display: none; }
