.footer {
	width: 100% ;
	background: #5e5d5b;
	padding-top: 77px;
	padding-bottom: 65px;

	.wrapper {
		@include clearfix;
	}

	&__right {
		float: right;
		text-align: right;

		.footer__text {
			margin-bottom: 10px;
		}
	}
	&__text {
		// font-family: $geoLight;
		font-size: 22px;
		line-height: 25px;
		display: block;
		margin-bottom: 5px;
	}
	&__socials {
		text-align: right;
	}
	&__icon {
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
	}
	&__link {
		display: block;

		&.inst {
			width: 30px;
			height: 30px;
			background: url(../img/inst.png) 0 0 no-repeat;

			&:hover {
				background-position: -31px 0;
			}
		}
		&.vk {
			width: 48px;
			height: 25px;
			background: url(../img/vk.png) 0 0 no-repeat;

			&:hover {
				background-position: -49px 0;
			}
		}
		&.fb {
			width: 14px;
			height: 29px;
			background: url(../img/fb.png) 0 0 no-repeat;

			&:hover {
				background-position: -15px 0;
			}
		}
		&.gplus {
			width: 29px;
			height: 28px;
			background: url(../img/gplus.png) 0 0 no-repeat;

			&:hover {
				background-position: -30px 0;
			}
		}
		&.tw {
			width: 32px;
			height: 25px;
			background: url(../img/tw.png) 0 0 no-repeat;

			&:hover {
				background-position: -32px 0;
			}
		}
		&.pen {
			width: 23px;
			height: 29px;
			background: url(../img/pen.png) 0 0 no-repeat;

			&:hover {
				background-position: -24px 0;
			}
		}
	}
	&__left {
		float: left;
	}
	&__person {
		font-size: 22px;
		line-height: 25px;
		display: block;
		margin-bottom: 25px;

		&:hover {
			text-decoration: underline;
		}

		&:after {
			content: '';
			width: 7px;
			height: 13px;
			background: url(../img/right.png) 0 0 no-repeat;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}

@media screen and (max-width: 1020px) {
	.footer {
		max-width: 480px;
		margin: 0 auto;
		text-align: center;
		padding-top: 33px;
		padding-bottom: 60px;

		&__right {
			float: none;
			text-align: center;

			.footer__text {
				margin-bottom: 15px;
			}
		}
		&__left {
			float: none;
		}
		&__socials {
			text-align: center;
			margin-bottom: 40px;
		}
		&__text {
			font-size: 18px;
			line-height: 21px;
			padding: 0 23px;
		}
		&__person {
			font-size: 18px;
			line-height: 21px;
			text-decoration: underline;

			&:after {
				margin-right: -15px;
			}
		}
	}
}
