.footer {
	width: 100% ;
	background: #5e5d5b;
	padding-top: 77px;
	padding-bottom: 65px;

	.wrapper {
		@include clearfix;
	}

	&__right {
		float: right;
		text-align: right;

		.footer__text {
			margin-bottom: 10px;
		}
	}
	&__text {
		// font-family: $geoLight;
		font-size: 22px;
		line-height: 25px;
		display: block;
		margin-bottom: 5px;
	}
	
	&__left {
		float: left;
	}
	&__person {
		font-size: 22px;
		line-height: 25px;
		display: block;
		margin-bottom: 25px;

		&:hover {
			text-decoration: underline;
		}

		&:after {
			content: '';
			width: 7px;
			height: 13px;
			background: url(../img/right.png) 0 0 no-repeat;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}

@media screen and (max-width: 1020px) {
	.footer {
		max-width: 480px;
		margin: 0 auto;
		text-align: center;
		padding-top: 33px;
		padding-bottom: 60px;

		&__right {
			float: none;
			text-align: center;

			.footer__text {
				margin-bottom: 15px;
			}
		}
		&__left {
			float: none;
		}
		&__socials {
			text-align: center;
			margin-bottom: 40px;
		}
		&__text {
			font-size: 18px;
			line-height: 21px;
			padding: 0 23px;
		}
		&__person {
			font-size: 18px;
			line-height: 21px;
			text-decoration: underline;

			&:after {
				margin-right: -15px;
			}
		}
	}
}
