.wrapper {
	max-width: 1174px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 1020px) {
	.wrapper {
		max-width: 480px;
		padding: 0 15px;
	}
}

@media screen and (max-width: 477px) {
	.wrapper {
		max-width: 320px;
		padding: 0 5px;
	}
}
