/* fonts */
@font-face {
    font-family: 'geometriaregular';
    src: url('../fonts/geometria-webfont.eot');
    src: url('../fonts/geometria-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria-webfont.woff') format('woff'),
         url('../fonts/geometria-webfont.ttf') format('truetype'),
         url('../fonts/geometria-webfont.svg#geometriaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriabold';
    src: url('../fonts/geometria-bold-webfont.eot');
    src: url('../fonts/geometria-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria-bold-webfont.woff') format('woff'),
         url('../fonts/geometria-bold-webfont.ttf') format('truetype'),
         url('../fonts/geometria-bold-webfont.svg#geometriabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometrialight';
    src: url('../fonts/geometria-light-webfont.eot');
    src: url('../fonts/geometria-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria-light-webfont.woff') format('woff'),
         url('../fonts/geometria-light-webfont.ttf') format('truetype'),
         url('../fonts/geometria-light-webfont.svg#geometrialight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriamedium';
    src: url('../fonts/geometria-medium-webfont.eot');
    src: url('../fonts/geometria-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria-medium-webfont.woff') format('woff'),
         url('../fonts/geometria-medium-webfont.ttf') format('truetype'),
         url('../fonts/geometria-medium-webfont.svg#geometriamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BrutalType-Light';
  src: url('../fonts/BrutalType-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BrutalType-Light.woff') format('woff'),
      url('../fonts/BrutalType-Light.ttf')  format('truetype'), url('../fonts/BrutalType-Light.svg#BrutalType-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrutalType-Medium';
  src: url('../fonts/BrutalType-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BrutalType-Medium.woff') format('woff'), url('../fonts/BrutalType-Medium.ttf')  format('truetype'), url('../fonts/BrutalType-Medium.svg#BrutalType-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* fonts end */
