/* --------- variables --------- */

$defaultFontFamily: 'geometriaregular';
$defaultFontSize: 14px;
$defaultLineHeight: 17px;
$defaultColor: #fff;
/* colors */

$geoBold: 'geometriabold';
$geoMed: 'geometriamedium';
$geoLight: 'geometrialight';

$btLight: 'BrutalType-Light';
$btExtraB: 'BrutalType-Medium';
$btBold: 'BrutalType-Medium';
$btMed: 'BrutalType-Medium';

$robotoBold: 'robotobold';

$rubl: 'als_rublregular';
