/* --------- variables --------- */

$defaultFontFamily: 'geometriaregular';
$defaultFontSize: 14px;
$defaultLineHeight: 17px;
$defaultColor: #fff;
/* colors */

$geoBold: 'geometriabold';
$geoMed: 'geometriamedium';
$geoLight: 'geometrialight';

$btLight: 'brutal_typelight';
$btExtraB: 'brutal_typeextrabold';
$btBold: 'brutal_typebold';
$btMed: 'brutal_typemedium';

$robotoBold: 'robotobold';

$rubl: 'als_rublregular';
