section.choose#choose
  .wrapper
    .choose__title Почему нас выбирают
    .choose__subtitle.
      5 причин, чтобы подключить высокоскоростной интернет и цифровое телевидение 2КОМ

    .choose__block
      img.choose__img(src="img/choose-img1.png", alt="")
      .choose__name Гигабитные скорости
      .choose__text 
        | Качество и надежность
        br
        | домашнего интернета
      
    .choose__block
      img.choose__img(src="img/choose-img2.png", alt="")
      .choose__name до 140 телеканалов
      .choose__text 
        | Аренда ТВ-приставки бесплатно, 
        br
        | цифровое качество, мультирум
      
    .choose__block
      img.choose__img(src="img/choose-img3.png", alt="")
      .choose__name Удобно
      .choose__text
        | Легко оплачивать и управлять 
        br
        | услугами в Личном кабинете
      
    .choose__block
      img.choose__img(src="img/choose-img4.png", alt="")
      .choose__name Дополнительные опции
      .choose__text ТурбоНочь, ТурбоКнопка, Отпуск и др.
      
    .choose__block
      img.choose__img(src="img/choose-img5.png", alt="")
      .choose__name Быстрая помощь
      .choose__text Без выходных и перерывов на обед
