footer.footer
  .wrapper
    .footer__right
      .footer__text Следите за новостями!
      ul.socials
        li.socials__icon
          a.socials__link.inst(href="https://www.instagram.com/2kom/")
          
        li.socials__icon
          a.socials__link.vk(href="http://vk.com/internet_2kom")
          
        li.socials__icon
          a.socials__link.fb(href="https://www.facebook.com/internet2KOM/")
          
        li.socials__icon
          a.socials__link.gplus(href="https://plus.google.com/u/0/+%D0%A2%D1%83%D0%BA%D0%B0%D0%BD%D0%A2%D0%BE%D0%BA%D0%BE")
          
        li.socials__icon
          a.socials__link.tw(href="https://twitter.com/2kom")
          
        li.socials__icon
          a.socials__link.pen(href="http://2kom.livejournal.com/")
      
    .footer__left
      a.footer__person(href="https://2kom.ru/doc/persdata.pdf", target="blank") Узнайте об обработке персональных данных
      .footer__text 1992-2016 © Группа компаний 2КОМ
      .footer__text 109029, Москва, Автомобильный проезд, д.4
    
