footer.footer
  .wrapper
    .footer__right
      .footer__text Следите за новостями!
      ul.footer__socials
        li.footer__icon
          a.footer__link.inst(href="")
          
        li.footer__icon
          a.footer__link.vk(href="")
          
        li.footer__icon
          a.footer__link.fb(href="")
          
        li.footer__icon
          a.footer__link.gplus(href="")
          
        li.footer__icon
          a.footer__link.tw(href="")
          
        li.footer__icon
          a.footer__link.pen(href="")
      
    .footer__left
      a.footer__person(href="") Узнайте об обработке персональных данных
      .footer__text 1992-2016 © Группа компаний 2КОМ
      .footer__text 109029, Москва, Автомобильный проезд, д.4
    
