head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width')

	block title
		title title

	//-favicon
	link(rel='shortcut icon', href='./favicon.ico', type='image/x-icon')
	link(rel='icon', href='./favicon.ico', type='image/x-icon')

	// build:css css/vendor.min.css
	// bower:css
	link(rel='stylesheet', href='bower/normalize-css/normalize.css')
	// endbower
	// endbuild
	// build:css css/style.min.css
	link(rel='stylesheet', href='css/main.css')
	//endbuild
	// build:css css/oldIe.min.css
	<!--[if lte IE 8]>
	link(rel='stylesheet', href='css/oldIe.css')
	<![endif]-->
	// endbuild
	// build:js js/modernizr.min.js
	script(src='bower/modernizr/modernizr.js')
	// endbuild
