section.main-block
  .wrapper
    .menu
      a(href="https://2kom.ru/")
        img.menu__logo(src="img/logo.png", alt="")
        
      .phone
        a.phone__link(href="")
          | (499) 
          span.phone__link--bold 968-97-78
        br
        a.phone__button.js-popup(href="") Заказать обратный звонок
        
      nav.menu__nav
        ul.menu__list
          li.menu__item
            a.menu__link.js-move(href="#request")  Подключиться
            
          li.menu__item
            a.menu__link.js-move(href="#rates") Тарифы
            
          li.menu__item
            a.menu__link(href="https://2kom.ru/lk/login.php") Личный кабинет 2КОМ
            
    h1.main-block__title.
      Подключите интернет и ТВ от 2KOM и летайте на космических скоростях!
    .main-block__rate Подберите для себя лучший тариф
    
    .counter.js-counter
      .counter__title 
        | АКЦИЯ! 
        br 
        span.counter__title--small Бесплатное подключение!
        span.counter__title--span До конца акции осталось:
        
      ul.counter__list
        li.counter__item
          .counter__block.js-hours 00
          .counter__text Часов
          
        li.counter__item
          .counter__block.js-minutes 00
          .counter__text Минут
          
        li.counter__item
          .counter__block.js-seconds 00
          .counter__text Секунд
    
    a.main-block__button.js-move(href="#rates") Выбрать тариф
    a.main-block__down.js-move(href="#choose") 
    
            
    
