section.popup
  .popup__overlay.js-overlay
  .popup__block
    form.popup__form
      .popup__desc Введите ваши данные в форму ниже:
      input.popup__input.popup__input--person(type="text", placeholder="Ваше Имя")
      input.popup__input.popup__input--phone(type="text", placeholder="Ваш номер телефона")
      button.popup__button(type="submit") Заказать звонок
      .popup__text Мы перезвоним Вам в течение 15 минут для уточнения подробностей заявки
