section.rates#rates
  .rates__block
    .wrapper
      .rates__name Интернет 30
      .rates__info--480
        span.rates__text Видео и аудио, игры, ТурбоНОЧЬ
      .rates__right
        .rates__speed
          span.rates__bold 30 
          span.rates__text Мбит/с 
          span.rates__plus + 
          
        .rates__info
          span.rates__text Видео и аудио, игры, ТурбоНОЧЬ
          
        .rates__money
          span.rates__bold 250 
          span.rates__text 
            span.rubl c
            | /мес
          
        a.rates__button.js-move(href="#request") Подключить
      
  .rates__block
    .wrapper
      .rates__name Интернет 60
      .rates__info--480
        span.rates__text Видео и аудио, игры, ТурбоНОЧЬ
      .rates__right
        .rates__speed
          span.rates__bold 60 
          span.rates__text Мбит/с 
          span.rates__plus + 
          
        .rates__info
          span.rates__text Видео и аудио, игры, ТурбоНОЧЬ
          
        .rates__money
          span.rates__bold 400 
          span.rates__text
            span.rubl c
            | /мес
          
        a.rates__button.js-move(href="#request") Подключить
  
  .rates__block
    .wrapper
      .rates__name Интернет 100
      .rates__info--480
        span.rates__text Родительский контроль
      .rates__right
        .rates__speed
          span.rates__bold 100 
          span.rates__text Мбит/с 
          span.rates__plus + 
          
        .rates__info
          span.rates__text Родительский контроль
          
        .rates__money
          span.rates__bold 500 
          span.rates__text
            span.rubl c
            | /мес
          
        a.rates__button.js-move(href="#request") Подключить

  .rates__block
    .wrapper
      .rates__name 
        | Интернет 
        span.rates__plus + 
        | ТВ
        
      .rates__info--480
        span.rates__text Видео и аудио, игры, ТурбоНОЧЬ, до 140 ТВ каналов
      .rates__right
        .rates__speed
          span.rates__bold 30 
          span.rates__text Мбит/с 
          span.rates__plus + 
          span.rates__bold.rates__tv ТВ 
          span.rates__plus + 
          
        .rates__info
          span.rates__text Видео и аудио, игры, ТурбоНОЧЬ, до 140 ТВ каналов
          
        .rates__money
          span.rates__bold 400 
          span.rates__text
            span.rubl c
            | /мес
          
        a.rates__button.js-move(href="#request") Подключить
        
  .rates__block
    .wrapper
      .rates__name
        | Интернет 
        span.rates__plus + 
        | ТВ
        
      .rates__info--480
        span.rates__text Видео и аудио, игры, ТурбоНОЧЬ, до 140 ТВ каналов
      .rates__right
        .rates__speed
          span.rates__bold 60 
          span.rates__text Мбит/с 
          span.rates__plus + 
          span.rates__bold.rates__tv ТВ 
          span.rates__plus +  
          
        .rates__info
          span.rates__text Видео и аудио, игры, ТурбоНОЧЬ, до 140 ТВ каналов
          
        .rates__money
          span.rates__bold 550 
          span.rates__text
            span.rubl c
            | /мес
          
        a.rates__button.js-move(href="#request") Подключить
