section.request#request
  .wrapper
    .request__title Оставьте заявку на подключение
    form(action="").request__form
      input#str_id(type='hidden', name='street_id')
      input.request__input.request__input--street#str_nm(type='text', name='street_name', placeholder="Улица")
      select.request__input.request__input--house#dom_id(name='dom_id', disabled='')
        option(selected="") Дом
      
      input.request__input.request__input--name(type="text", placeholder="Ваше имя")
      input.request__input.request__input--phone.js-phone(type="text", placeholder="Телефон для связи")
      label.request__label
        input.request__checkbox(type="checkbox", checked)
        .request__check
        .request__text Даю согласие на обработку данных
      button.request__button(type="submit") Отправить заявку
