// build:js js/vendor.min.js
// bower:js
script(src='bower/jquery/dist/jquery.js')
// endbower
// endbuild

// build:js js/main.min.js
script(src='js/move.js')
script(src='js/popup.js')
script(src='js/timer.js')
script(src='js/main.js')
// endbuild
