// build:js js/vendor.min.js
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/wow/dist/wow.js')
script(src='/bower/jquery.inputmask/dist/inputmask/inputmask.js')
script(src='/bower/jquery.inputmask/dist/inputmask/jquery.inputmask.js')
// endbower
// endbuild

// build:js js/main.min.js
script(src='js/move.js')
script(src='js/popup.js')
script(src='js/timer.js')
script(src='js/jquery.street_suggestion.js')
script(src='js/main.js')
// endbuild
